@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Ovo&display=swap');

@import "tailwindcss";

@theme {
  /* Colors */
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;

  /* Box shadows */
  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;

  /* Fonts */
  --font-outfit: 'Outfit', sans-serif;
  --font-ovo: 'Ovo', serif;
}
@custom-variant dark (&:where(.dark, .dark *));
@layer utilities {
  .grid-cols-auto {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
/* Optional: set default fonts using the CSS variables */

/* body {
  font-family: var(--font-outfit);
} */
